# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Eclipse specific files
/ssl/*.cert
/ssl/*.key

# Velocity specific files
/velocity/lang
/velocity/logs
/velocity/vel/plugins/luckperms
/velocity/forwarding.secret
/velocity/vel/plugins/minimotd-velocity/extra-configs
/velocity/plugins/minimotd-velocity

# ServerSelectorX specific files
*/plugins/ServerSelectorX/command/servers.yml
*/plugins/ServerSelectorX/config/inventory.yml
*/plugins/ServerSelectorX/config/join.yml
*/plugins/ServerSelectorX/config/misc.yml
*/plugins/ServerSelectorX/config/sync.yml

# Essentials specific files
*/plugins/Essentials/userdata
*/plugins/Essentials/kits.yml
*/plugins/Essentials/items.json
*/plugins/Essentials/custom_items.yml
*/plugins/Essentials/motd.txt
*/plugins/Essentials/tpr.yml
*/plugins/Essentials/upgrades-done.yml
*/plugins/Essentials/usermap.bin
*/plugins/Essentials/uuids.bin
*/plugins/Essentials/worth.yml

# LuckPerms specific files
*/plugins/LuckPerms

# BlockLocker specific files
survival/plugins/BlockLocker/translations-en.yml
survival/plugins/BlockLocker/config.yml
.env
/.claude
